h2 Js Sandbox

h3 HTML:
  p src="{{site.baseurl}}/assets/img/fig-2__med.jpg"
  img.img-html(src="{{site.baseurl}}/assets/img/fig-2__med.jpg" alt="img HTML")

h3 CSS:
  p url("../img/fig-2__med.jpg")
  .img-css
